:root{
    --c-background: rgb(238,42,123);
    --c-border: #ddd;
    --c-sender-chat-cloud-background: #F4F7F9;
    --c-receiver-chat-cloud-background: rgb(238,42,123);
    --c-offering-messages-content-color: rgb(238,42,123);
    --c-button-background: rgb(238,42,123);
}