
.chatContainer {

    position: static;
    right: 0;
    z-index: 10;
    border:   var(--c-border) solid;
    border-radius: 5px ;
    min-height: 500px;
    display: none;


    .chatLayout {
        overflow: hidden;
        min-height: 200px;
        max-height: 380px;
    }

    .chatInput {
        position: absolute;
        bottom: 0;
    }
}