
.inputContainer {
    position: absolute;
    bottom: 0;
    border-top: var(--c-border) solid;
    border-radius: 5px;
    width: 100%;

    svg:hover {
        color: var(--c-background);
    }
    .inputField {
        display: flex;

        .inputComponent {
            outline: none;
            border: none;
        }

        .sendIconContainer {
            text-align: center;
            svg {
               margin: 5px;
            }

            button {
                all: unset;
            }

        }
    }
    .iconContainer {
        margin-top: 3px;
        padding-top: 3px;
        max-width: 100px;
        display: flex;
        justify-content: space-around;
    }

}

